<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div class="wrapper">
        <header class="has-background-primary">
            <h1 class="has-text-black px-3 py-3 has-text-weight-bold">Tech Blog</h1>
            <nav class="navbar mt-2 has-background-primary">
                {{#if loggedIn}}
                <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
                <a href="/dashboard" class="navbar-item is-hoverable pt-1">Dashboard</a>
                <a href="/dashboard/create/" class="navbar-item is-hoverable pt-1 mr-4">Create a post</a>
                <button id="logoutBtn" class="button is-danger">logout</button>
                {{else}}
                <a href="/" class="navbar-item is-hoverable pt-1">Home</a>
                <a href="/login" class="button is-link mr-2 ml-2">Login</a>
                <a href="/signup" class="button is-info mr-2 ml-2">Signup</a>
                {{/if}}
            </nav>
        </header>

        <main >
            {{{ body }}}
        </main>
    </div>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>