<div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
        <div class="mb-3">
            <label for="loginUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="loginUsername">
        </div>
        <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="loginPassword">
        </div>
        <button type="submit" class="btn btn-primary loginBtn">Login</button>
        <a href="/signup"><button type="button" class="btn btn-primary signupBtn">Signup</button></a>
    </form>
</div>

<script src="/js/login.js"></script>