<div class="column">
    <h2 class="title pb-4">login:</h2>
    <hr>
    <form class="loginForm">
        <div>
            <label for="loginUsername">username:</label>
            <input type="text" id="loginUsername" />
        </div>
        <div>
            <label for="loginPassword">password:</label>
            <input type="password" id="loginPassword" />
        </div>
        <div>
            <button type="submit" class="button is-link">login</button>
            <a href="/signup"><button type="button" class="button is-info">signup</button></a>
        </div>
    </form>
</div>

<!-- javascript file-->
<script src="/js/login.js"></script>