<div>
    <div class="col-md-6">
        <h2>Sign Up</h2>

        <form class="form signup-form">
            <div class="mb-3">
                <label for="signupName" class="form-label">Name</label>
                <input type="text" class="form-control" id="signupName">
            </div>
            <div class="mb-3">
                <label for="signupEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="signupPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="signupPassword">
            </div>
            <button type="submit" class="btn btn-primary signupBtn">Sign Up</button>
        </form>
    </div>

    <div class="col-md-6">
        <h2>Login</h2>

        <form class="form login-form">
            <div class="mb-3">
                <label for="loginEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="loginEmail">
            </div>
            <div class="mb-3">
                <label for="loginPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="loginPassword">
            </div>
            <button type="submit" class="btn btn-primary loginBtn">Login</button>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>