<div class="column">
    <h2 class="title pb-4">create new account:</h2>
    <hr>
    <form class="signupForm">
        <div>
            <label for="signupUsername">username:</label>
            <input type="text" id="signupUsername" />
        </div>
        <div>
            <label for="signupEmail">email:</label>
            <input type="text" id="signupEmail" />
        </div>
        <div>
            <label for="signupPassword">password:</label>
            <input type="password" id="signupPassword" />
        </div>
        <div>
            <button type="submit" class="button is-info">signup</button>
        </div>
    </form>
</div>

<!-- javascript file-->
<script src="/js/signup.js"></script>